---
import config from '@/config'
import Base from '@/layouts/Base.astro'
---

<Base meta={{ title: config.title }}>
  <section class="mt-6">
    <h1 class="text-4xl font-semibold tracking-tight">
      Hey there!
    </h1>
    <p class="mt-4 max-w-prose text-lightModeText dark:text-darkModeText">
      Hey there, 
      I am Yashwanth A Doddegowda, I am currently working as a software engineer. I like to build stuff, write and design. 
      I also like to talk about philosophy and politics, although I don't know much about it. I also read sometimes. 
    </p>
  </section>
</Base>